{:initial
 {:user-email "initial@some-domain.org"
  :repo  {}
  :synced-repo  {:password-store
                 [{:host "github.com"
                   :orga-path "DomainDrivenArchitecture"
                   :repo-name "dda-git-crate"
                   :protocol :https
                   :server-type :github}]}}}
